<div class="card">
  <div class="card-body text-center">
    <%= image_tag("cat.png", class: "image_1", width: "100%", height: "auto") %>
    <h4 class="card-title"><%= item.title %></h4>
    <p class="card-text"><%= item.description %></p>
    <div class="btn_main row">
      <div class="d-flex justify-content-between">
        <%= button_to 'Ajouter au panier', add_to_cart_item_path(item), method: :post, class: 'btn btn-success' %>
        <h5 class="item_price"><%= item.price %> €</h5>
        <a href="<%= item_path(item) %>" class="btn btn-light" role="button" style="width: 6em">Voir</a>
      </div>
      <div class="text-center">
      </div>
    </div>
  </div>
</div>